.btn-primary.override-bs{
    border-radius: 50px;
    background-color: #0d6efd;
    color: white;
    width: 100%;
}
.btn-primary.override-bs-small{
    border-radius: 50px;
    background-color: #0d6efd;
    color: white;
    width: 80px;
    position: relative;
    left: calc(100% - 50px);
}
.form-control.override-bs{
    border-radius: 50px;
    background-color: white;
    color: #495057;
    padding-left: 50px;
    height: 40px;
    width: calc(100% - 50px);
    position: relative;
    right: 32px;
}
.search-icon{
    position: relative;
    left: 10px;
    z-index: 1;
}
.icon-30{
    height: 40px;
    width: 40px;
}
.height-40{
    height: 40px;
}
.height-100{
    max-height: 100px;
    height: 100px;
}
.fa-gear.override-fa-color{
    color: #0d6efd;
}
.fit-image{
    width: 100%;
    object-fit: cover;
}
.nudge-up-30px{
    position: relative;
    bottom: 30px;
}
.nudge-up-40px{
    position: relative;
    bottom: 40px;
}
.text-primary.override-bs{
    color: black;
}
.font-weight-bold{
    font-weight: bold;
}
.grey-border {
    outline: 1px solid #e9ecef;
}
.grey-bottom-border{
    border-bottom: 1px solid #e9ecef;
    border-left: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
}
.w-80{
    width: 80%;
}